@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #060610;
  background-color: #091120;
  background-color: #0c0712;
  
}

